/*  area news & others gallary */

.padding-60 {
	margin-top: 60px;
}

.news_area {
	background: #f1f2f6;
}

.list-blog.single-post .post-thumb,
.list-blog.single-post .post-content {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-right: 15px;
}

.post-thumb img {
    border-radius: 20px;
    margin-bottom: 15px;
}

.list-blog.single-post .post-content {
    margin-right: 0;
    margin-left: 15px;
    margin-bottom: 30px;
}

.post-meta {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.post-source-news .post-author a,
.post-source-news .post-date a,
.post-source-news .post-source a {
    color: #a4b0be;
    font-size: 14px;
}

.post-source-news .post-categoris a {
    color: #636e72;
    font-size: 14px;
}
.post-source-news .post-source a {
    color: #747d8c;
    font-size: 14px;
}

.post-source-news .post-author a:hover,
.post-source-news .post-date a:hover {
    color: #2f3640;
}

.post-source-news .post-author a {
    margin-right: 30px;
    position: relative;
    z-index: 1;
}

.post-source-news .post-author a:after {
    width: 2px;
    height: 60%;
    content: '';
    position: absolute;
    top: 20%;
    right: -14px;
    z-index: 2;
    background-color: #b5aec4;
}

.post-content h4 {
    margin: 10px 0;
    color: #b33939;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-transform: capitalize;
}

.post-content h4:hover {
    color: #079992;
}

.single-post .read-continue {
    font-size: 12px;
    color: #b5aeba;
    display: inline-block;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    height: 40px;
    min-width: 170px;
    line-height: 40px;
    text-align: center;
}

.single-post .read-continue:hover {
    color: #000;
    border: 1px solid #000;
}

img {
    max-width: 100%;
}


.list-blog.single-post {
    margin-bottom: 0px;
    border-bottom: 1px solid #ebebeb;
}

.blog_area .col-12:last-of-type .list-blog.single-post {
    margin-bottom: 0;
    border-bottom: none;
}

.blog_area .col-12:last-of-type .list-blog.single-post .post-thumb img {
    margin-bottom: 0;
}


/** read-continue pagination **/

.pagination {
	padding: 15px;
}
.pagination .read-more {
	margin: auto;
    font-size: 15px;
    color: #95a5a6;
    display: inline-block;
    border: 1px solid #95a5a6;
    border-radius: 30px;
    height: 50px;
    min-width: 170px;
    line-height: 50px;
    text-align: center;
}

.pagination .read-more:hover {
    color: #2c3e50;
    border: 1px solid #2c3e50;
}





.calender .calender-events h2 {
	color: #6ab04c;
	margin: 25px 0;
	font-size: 22px;
}
.calender-events li {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dee2e6;
  list-style: none; }
  .calender-events li:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0; }
  .calender-events li a {
    display: block;
    color: #6ab04c;
	font-size: 14px;}
  .calender-events li a:hover {
    color: #1dd1a1;
	font-size: 14px;}
    .calender-events li a span {
      position: absolute;
      right: 0;
      top: 0;
      color: #1dd1a1; }
  .calender-events li.active a {
    color: #000000;
    font-style: italic; }

